body {
  font-family: -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  background: rgb(190,225,255);
}
.bodyText {
  background: rgb(250,250,250);
}
.SideBar {
  background: rgb(255,219,22);
}
.Pink {
  background: rgb(255,94,141);
}
.Green {
  background: rgb(104,220,155)
}
.btm {
  margin-bottom: '600px'
}
.logo{
  max-width:100%; height: auto;
}
.oibule {
  background:#0a143c 
}
